[Unit]
Description=Timer to automatically refresh installed snaps

[Timer]
# spread the requests gently
# https://bugs.launchpad.net/snappy/+bug/1537793
OnCalendar=23,05,11,17:00
RandomizedDelaySec=6h
AccuracySec=10min
Persistent=true
OnStartupSec=15m

[Install]
WantedBy=timers.target
