# trusty needs this to make /snap rshared
[Unit]
Description=Apply special mount sharing to /snap directory
ConditionPathExists=!/run/systemd/initctl/fifo
Before=snapd.service

[Service]
Type=oneshot
ExecStart=/bin/mkdir -p /snap
ExecStart=/bin/mount -o rbind /snap /snap
ExecStart=/bin/mount --make-rshared /snap
ExecStop=/bin/umount -l /snap
RemainAfterExit=yes

[Install]
WantedBy=local-fs-pre.target
