[Unit]
Description=Auto import assertions from block devices
After=snapd.service snapd.socket

[Service]
Type=oneshot
ExecStart=/usr/bin/snap auto-import

[Install]
WantedBy=multi-user.target
