<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>

  <vendor>Snapcraft</vendor>
  <vendor_url>http://snapcraft.io</vendor_url>

  <action id="org.example.foo.AlwaysAllow">
    <description>An action that is always allowed</description>
    <message>This action will always be allowed</message>
    <defaults>
      <allow_any>yes</allow_any>
    </defaults>
  </action>

  <action id="org.example.foo.AlwaysDeny">
    <description>An action that is always denied</description>
    <message>This action will always be denied</message>
    <defaults>
      <allow_any>no</allow_any>
    </defaults>
  </action>

</policyconfig>
