Sergio Cazzolato <sergiocazzolato@gmail.com> sergio-j-cazzolato <sergio.cazzolato@canonical.com>
John R. Lenton <jlenton@gmail.com> John Lenton <chipaca@users.noreply.github.com>
Zygmunt Krynicki <me@zygoon.pl> Zygmunt Krynicki <zygmunt.krynicki@canonical.com>
