Tests: integrationtests
Restrictions: allow-stderr, isolation-container, rw-build-tree, needs-root, breaks-testbed
Depends: bzr,
         ca-certificates,
         git,
         openssh-server,
         snapd,
         unity,
         x11-utils,
         xvfb,
         @builddeps@
