Tests: integrationtests
Restrictions: allow-stderr, isolation-container, rw-build-tree
Depends: @builddeps@,
         bzr,
         ca-certificates,
         git,
         golang-golang-x-net-dev,
         snapd,
         unity,
         x11-utils,
         xvfb
