[Unit]
Description=Wait a bit before emergency reboot
DefaultDependencies=no
After=emergency.target
ConditionKernelCommandLine=!dangerous
SuccessAction=reboot

[Service]
Type=oneshot
ExecStart=/usr/bin/sleep 10

[Install]
WantedBy=emergency.target
