[Unit]
Description=Set Plymouth Keymap
DefaultDependencies=no
Before=systemd-ask-password-plymouth.service
ConditionKernelCommandLine=snapd.xkb

[Service]
Type=oneshot
ExecStart=/usr/lib/core/set-plymouth-keymap
RemainAfterExit=yes
