[Unit]
Description=Timer to automatically refresh installed snaps

[Timer]
# do a weekly refresh using the time to ensure that we can still
# fix any potential errors in the internal timer handling
OnCalendar=weekly
RandomizedDelaySec=6h
AccuracySec=10min
Persistent=true
OnStartupSec=15m

[Install]
WantedBy=timers.target
