[Unit]
Description=Snappy daemon
Requires=snapd.socket

[Service]
ExecStart=/usr/lib/snapd/snapd
EnvironmentFile=/etc/environment
Restart=always
WatchdogSec=5m

[Install]
WantedBy=multi-user.target
