[Unit]
Description=Snappy daemon
Requires=snapd.socket

[Service]
ExecStart=/usr/lib/snapd/snapd
EnvironmentFile=/etc/environment
Restart=always

[Install]
WantedBy=multi-user.target
