[Unit]
Description=snap mount directory mount
Documentation=https://forum.snapcraft.io/
# Only set up the self bind mount with shared propagation when there is no
# preserved snap mount namespace yet.
ConditionPathExistsGlob=!/run/snapd/ns/*.mnt
Before=snapd.mounts-pre.target

[Mount]
# Specific set of options to build the hierarchy we need:
# rbind - recursively bind /snap on top of /snap, inherits shared
# private - stop propagating to parent
# shared - create a new shared peer group
What=/snap
Where=/snap
Options=rbind,private,shared

[Install]
WantedBy=snapd.mounts-pre.target
