SUBSYSTEM!="block", GOTO="ubuntu_core_partitions_end"

ENV{DEVTYPE}=="disk", IMPORT{program}="/usr/lib/snapd/snap-bootstrap scan-disk"
ENV{DEVTYPE}=="partition", IMPORT{parent}="UBUNTU_DISK"
ENV{UBUNTU_DISK}!="1", GOTO="ubuntu_core_partitions_end"

ENV{DEVTYPE}=="disk", SYMLINK+="disk/ubuntu/disk"
ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NAME}="ubuntu-seed", SYMLINK+="disk/ubuntu/seed"
ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NAME}="ubuntu-boot", SYMLINK+="disk/ubuntu/boot"
ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NAME}="ubuntu-data", ENV{ID_FS_TYPE}=="crypto_LUKS", SYMLINK+="disk/ubuntu/data-luks"
ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NAME}="ubuntu-data", ENV{ID_FS_TYPE}!="crypto_LUKS", SYMLINK+="disk/ubuntu/data"
ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NAME}="ubuntu-save", ENV{ID_FS_TYPE}=="crypto_LUKS", SYMLINK+="disk/ubuntu/save-luks"
ENV{DEVTYPE}=="partition", ENV{ID_PART_ENTRY_NAME}="ubuntu-save", ENV{ID_FS_TYPE}!="crypto_LUKS", SYMLINK+="disk/ubuntu/save"

LABEL="ubuntu_core_partitions_end"

ENV{DM_UUID}=="CRYPT-*", ENV{DM_NAME}=="ubuntu-data-*", SYMLINK+="disk/ubuntu/data"
ENV{DM_UUID}=="CRYPT-*", ENV{DM_NAME}=="ubuntu-save-*", SYMLINK+="disk/ubuntu/save"
