#!/usr/bin/make -f
# -*- makefile -*-
#
# These rules should work for any debian-ish distro that uses systemd
# as init.  That does _not_ include Ubuntu 14.04 ("trusty"); look for
# its own special rule file.
#
# Please keep the diff between that and this relatively small, even if
# it means having suboptimal code; these need to be kept in sync by
# sentient bags of meat.

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=meson+ninja --builddirectory=_build

override_dh_fixperms:
	dh_fixperms -Xusr/lib/snapd/snap-confine

MESON_OPTIONS=								\
	--auto-features=enabled						\
	-Dselinux=disabled						\
	-Dsecboot=false							\
	-Dstatic-checks=false						\
	-Dvendored=disabled						\
	-Ddownstream_version_suffix=$(downstream_version_suffix)	\
	-Dnvidia-multiarch=true						\
	-Dlibexecdir=lib/snapd						\
	-Dhost-arch-triplet=$(DEB_HOST_MULTIARCH)			\
	-Dgopath=$(CURDIR)/_build					\
	-Dgo111module=false

ifneq (,$(filter testkeys,$(DEB_BUILD_OPTIONS)))
MESON_OPTIONS+= -Dtest-keys=true
endif

ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH),amd64)
MESON_OPTIONS+= -Dhost-arch-32bit-triplet=$(shell dpkg-architecture --force -ai386 -qDEB_HOST_MULTIARCH)
endif

ifneq ($(shell dpkg-architecture -qDEB_HOST_ARCH),i386)
MESON_OPTIONS+= -Db_pie=true
endif

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=meson+ninja -- $(MESON_OPTIONS)
	# We need this to symlink needed files in _build/src, it is crazy
	dh_auto_configure -O--buildsystem=golang
	# Build golang bits
	cp -aT bootloader/assets/data _build/src/github.com/snapcore/snapd/bootloader/assets/data


# The .real profile is a workaround for a bug in dpkg LP: #1673247 that causes
# ubiquity to crash. It allows us to "move" the snap-confine profile from
# snap-confine into snapd in a way that works with old dpkg that is in the live
# CD image.
#
# Because both the usual and the .real profile describe the same binary the
# .real profile takes priority (as it is loaded later).
override_dh_installdeb:
	dh_apparmor --profile-name=usr.lib.snapd.snap-confine.real -psnapd
	dh_installdeb -O--buildsystem=meson+ninja

version_from_changelog := $(shell dpkg-parsechangelog --show-field Version)
$(info version_from_changelog is $(version_from_changelog))

# FIXME
downstream_version_suffix := -1

override_dh_auto_install:
	dh_auto_install -O--buildsystem=meson+ninja
	mv debian/tmp/etc/apparmor.d/usr.lib.snapd.snap-confine debian/tmp/etc/apparmor.d/usr.lib.snapd.snap-confine.real
	mv debian/tmp/usr/share/zsh/site-functions debian/tmp/usr/share/zsh/vendor-completions
	dh_auto_install -O--buildsystem=golang

override_dh_gencontrol:
	dh_gencontrol -- -VBuilt-Using="$(BUILT_USING)"

override_dh_dwz:
	dh_dwz -a				\
	  -X usr/lib/snapd/snap-seccomp		\
	  -X usr/lib/snapd/snap-update-ns	\
	  -X usr/lib/snapd/snapd		\
	  -X usr/lib/snapd/snapctl
