[Desktop Entry]
Name=Echo
Comment=It echos stuff
Exec=basic-desktop.echo
Icon=${SNAP}/meta/gui/icon.png
Terminal=true
Type=Application
Categories=Utilities;Useful;
Keywords=echo;echo;
StartupNotify=false
