[Desktop Entry]
Name=Echoecho
Comment=It echos echos stuff
Exec=basic-desktop.echo echo
Icon=${SNAP}/meta/gui/icon.png
Terminal=true
Type=Application
Categories=Utilities;Useful;
Keywords=echo;echo;
StartupNotify=false
