Tests: integrationtests
Restrictions: allow-stderr,
              breaks-testbed,
              isolation-machine,
              needs-internet,
              needs-root,
              needs-sudo,
              rw-build-tree
Depends: bzr,
         ca-certificates,
         git,
         golang-go,
         golang-golang-x-net-dev,
         locales,
         net-tools,
         netcat-openbsd,
         openssh-server,
         snapd,
         @builddeps@
