Source: ubuntu-snappy
Section: devel
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: bash-completion,
               debhelper (>= 9),
               dh-golang,
               dh-systemd,
               golang-go,
               golang-go-flags-dev,
               golang-gocheck-dev,
               golang-goconfigparser-dev,
               golang-yaml.v2-dev,
               golang-pb-dev,
               golang-go.crypto-dev,
               ubuntu-core-snappy,
Standards-Version: 3.9.6
Homepage: https://launchpad.net/snappy
Vcs-Browser: http://bazaar.launchpad.net/~snappy-dev/snappy/trunk/files
Vcs-Bzr: lp:snappy

Package: ubuntu-snappy
Architecture: any
Depends: apparmor-easyprof-ubuntu-snappy,
         debsig-verify,
         system-image-cli (>= 2.5-0ubuntu1+ppa15),
         ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using}
Description: Tool to interact with Ubuntu Core Snappy.
 Manage an Ubuntu system with snappy.
