#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS
export DH_GOPKG := launchpad.net/snappy

%:
	dh $@ --buildsystem=golang --with=golang --fail-missing --with systemd

override_dh_systemd_enable:
	# disabled for now because there is a "boot-ok" service in the python
	# snappy implementation as well
	dh_systemd_enable \
		--no-enable \
		-pubuntu-snappy \
		ubuntu-core-snappy.boot-ok.service
	# we want autopilot enabled by default
	dh_systemd_enable \
		-pubuntu-snappy \
		snappy-autopilot.timer \
		snappy-autopilot.service

override_dh_systemd_start:
	# ensure those disabled units are not started as well
	dh_systemd_start \
		--no-start \
		-pubuntu-snappy \
		ubuntu-core-snappy.boot-ok.service
	dh_systemd_start \
		--no-start \
		-pubuntu-snappy \
		snappy-autopilot.timer \
		snappy-autopilot.service

override_dh_auto_install:
	dh_auto_install -O--buildsystem=golang
	# Making the packages private
	rm -rf ${CURDIR}/debian/ubuntu-snappy/usr/share/gocode
