[Unit]
Description=Ubuntu Core Snappy AutoUpdate

[Timer]
OnCalendar=23,05,11,17:00
RandomizedDelaySec=6h
AccuracySec=10min
Persistent=true
Unit=snappy-autopilot.service

[Install]
WantedBy=multi-user.target
