[Unit]
Description=Remount /snap with shared namespaces
Before=local-fs.target

[Service]
ExecStart=/bin/sh -c 'set -x; mkdir -p /snap && mount --rbind /snap /snap && mount --make-rshared /snap'
ExecStop=/bin/umount -l /snap
RemainAfterExit=yes
