[Unit]
Description=Ensure a minimal cgroups setup if systemd is not running as PID 1
ConditionPathExists=/proc/cgroups
ConditionPathIsMountPoint=/sys/fs/cgroup
Before=snapd.service

[Service]
Type=oneshot
ExecStart=/usr/lib/snapd/snap-mount-cgroups
ExecStop=/usr/lib/snapd/snap-umount-cgroups
RemainAfterExit=yes

[Install]
WantedBy=local-fs-pre.target
