[Unit]
Description=Run snappy firstboot setup
After=local-fs.target
Before=network-pre.target snapd.service
DefaultDependencies=false
# NOTE: this is hardcoded in `snappy firstboot`; keep in sync
ConditionPathExists=!/var/lib/snapd/firstboot/stamp


[Service]
Type=oneshot
ExecStart=/usr/bin/snap firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
