[Unit]
Description=Timer to automatically refresh installed snaps

[Timer]
OnCalendar=3:00
RandomizedDelaySec=2h
AccuracySec=10min
Persistent=true

[Install]
WantedBy=multi-user.target
