[Unit]
Description=Ubuntu Core Snappy Autopilot

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=15min
Unit=snappy-autopilot.service

[Install]
WantedBy=multi-user.target
