[Unit]
Description=Snappy daemon
Requires=snapd.socket

[Service]
ExecStart=/usr/lib/snapd/snapd
# add "SNAP_REEXEC=0" to /etc/environment to disable the behaviour of
# snapd to re-exec itself into the snapd of the core snap
EnvironmentFile=/etc/environment
Restart=always

[Install]
WantedBy=multi-user.target
