[Unit]
Description=Apply special mount sharing to /snap directory
Before=snapd.service

[Mount]
What=/snap
Where=/snap
Options=rbind,rshared

[Install]
WantedBy=local-fs.target
