[Unit]
Description=Wait for network
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=0
ExecStart=/usr/bin/wait4network 5s
