[Unit]
Description=Automatically refresh installed snaps
After=network.target

[Service]
Type=oneshot
# FIXME: add auto-reboot on devices
ExecStart=/usr/bin/snap refresh
