[Unit]
Description=Run snappy compatibility hooks
Before=apparmor.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy firstboot

[Install]
WantedBy=getty.target
