[Unit]
Description=Regenerate snappy security policies
After=local-fs.target apparmor.service
Before=ubuntu-snappy.firstboot.service
DefaultDependencies=false

[Service]
Type=oneshot
ExecStart=/bin/sh -c "set -ex; if ! cmp /usr/share/snappy/security-policy-version /var/lib/snappy/security-policy-version; then /usr/bin/snap policygen --regenerate-all; cp /usr/share/snappy/security-policy-version /var/lib/snappy/; fi"

[Install]
WantedBy=multi-user.target
