[Unit]
Description=Socket activation for snappy daemon
After=snappy-wait4network.service

[Socket]
ListenStream=@snapd

[Install]
WantedBy=multi-user.target
