[Unit]
Description=Run snappy security policy generation updates
After=ubuntu-snappy.firstboot.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy policygen --regenerate-all

[Install]
WantedBy=multi-user.target
