[Unit]
Description=Do early boot setup/fixup tasks
Before=ubuntu-snappy.frameworks-pre.target
After=ubuntu-snappy.firstboot.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy early-setup

[Install]
WantedBy=multi-user.target
