[Unit]
Description=Run snappy firstboot setup
After=local-fs.target
Before=system-ifup.slice cloud-init-local.service cloud-init.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy firstboot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
