[Unit]
Description=Run snappy grub-migration
Before=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy grub-migrate
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
