[Unit]
Description=Run snappy grub-migration
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy grub-migrate
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
