[Unit]
Description=Socket activation for snappy daemon
After=ubuntu-snappy.firstboot.service

[Socket]
ListenStream=@snapd

[Install]
WantedBy=ubuntu-snappy.frameworks.target
