[Unit]
Description=Run click hooks
Before=apparmor.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy internal-run-hooks

[Install]
WantedBy=getty.target
