[Unit]
Description=Notify bootloader that boot was successful

[Service]
Type=oneshot
ExecStart=/usr/bin/snappy-go booted

[Install]
WantedBy=getty.target
