[Desktop Entry]
Name=test-snapd-desktop-file-ids.cmd
Comment=A desktop file for test-snapd-desktop-file-ids.cmd
Exec=test-snapd-desktop-file-ids.cmd
Terminal=true
Type=Application
