Source: ubuntu-core-initramfs
Section: utils
Priority: optional
Maintainer: Dimitri John Ledkov <xnox@ubuntu.com>
Build-Depends: debhelper-compat (= 13), dh-python,
               amd64-microcode [amd64],
               cpio,
               fakeroot,
               fonts-ubuntu,
               intel-microcode [amd64]
Standards-Version: 4.4.1
Homepage: https://launchpad.net/ubuntu-core-initramfs

Package: ubuntu-core-initramfs
Architecture: amd64 arm64 armhf riscv64
Depends: ${python3:Depends}, ${misc:Depends}, dracut-core (>= 051-1),
         python3:any,
         dracut-core,
         busybox-initramfs,
         zstd,
         sbsigntool,
         snapd (>= 2.50+20.04),
         linux-firmware,
         kcapi-tools (>= 1.4.0-1ubuntu3),
         dbus,
         dmsetup,
         dosfstools,
         dpkg-dev,
         e2fsprogs,
         fakeroot,
         fdisk,
         git,
         kmod,
         libgcc-s1,
         mount,
         plymouth-label-ft,
         plymouth-theme-spinner,
         squashfs-tools,
         systemd,
         systemd-boot-efi,
         systemd-ukify,
         systemd-bootchart,
         cryptsetup-bin,
         systemd-sysv,
         tar,
         udev,
         util-linux
Description: standard embedded initrd
 Standard embedded initrd implementation to be used with Ubuntu Core
 systems. Currently targetting creating BLS Type2 like binaries.
