[Unit]
Description=Detect Ubuntu classic sysroot
DefaultDependencies=no
Before=initrd-root-device.target
After=snap-initramfs-mounts.service
Wants=classic-mounts.service

ConditionPathIsMountPoint=!/run/mnt/base

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ln -s data /run/mnt/sysroot
