[Unit]
Description=Detect Ubuntu Core sysroot
DefaultDependencies=no
Before=initrd-root-device.target
After=snap-initramfs-mounts.service

ConditionPathIsMountPoint=/run/mnt/base

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/ln -s base /run/mnt/sysroot
