[Unit]
Description=Set the core theme if on Ubuntu Core
DefaultDependencies=no
After=snap-initramfs-mounts.service
Before=plymouth-start.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container
ConditionPathIsMountPoint=/run/mnt/base

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -s /usr/share/plymouth/core.defaults /usr/share/plymouth/plymouthd.defaults
