[Unit]
Description=Set the classic theme if on classic Ubuntu
DefaultDependencies=no
After=snap-initramfs-mounts.service
Before=plymouth-start.service
ConditionKernelCommandLine=!plymouth.enable=0
ConditionKernelCommandLine=!nosplash
ConditionKernelCommandLine=splash
ConditionVirtualization=!container
ConditionPathIsMountPoint=!/run/mnt/base

[Service]
Type=oneshot
ExecStart=/usr/bin/ln -s /usr/share/plymouth/classic.defaults /usr/share/plymouth/plymouthd.defaults
