[Unit]
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
DefaultDependencies=no
Before=initrd-root-fs.target
After=run-mnt-data.mount
After=run-mnt-base.mount
After=sysroot.mount
After=sysroot-writable.mount
Requires=sysroot.mount
Requires=sysroot-writable.mount
Wants=snap-initramfs-mounts.service
After=snap-initramfs-mounts.service

ConditionPathIsMountPoint=/run/mnt/base

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/mount --type tmpfs tmpfs /sysroot/run
ExecStart=/usr/bin/touch /sysroot/run/fstab
# TODO:UC20: re-implement writable-paths in Go in snap-bootstrap and eliminate 
# the shell script wrapper
ExecStart=/usr/bin/chroot /sysroot /usr/lib/core/handle-writable-paths / /etc/system-image/writable-paths /run/fstab
# TODO:UC20: move the-modeenv implementation to snap-bootstrap too
ExecStart=/usr/lib/the-modeenv
ExecStart=/usr/lib/core/extra-paths
