[Unit]
Description=Recovery chooser trigger switch root service
DefaultDependencies=no
ConditionPathExists=/etc/initrd-release
Before=initrd-switch-root.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/lib/recovery-chooser-trigger-switch-root
