[Unit]
Description=Mount initial filesystems
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

DefaultDependencies=no
After=sysinit.target
Before=initrd-root-device.target

BindsTo=dev-disk-snapd-disk.device
After=dev-disk-snapd-disk.device

Wants=dbus.socket
After=dbus.socket

[Service]
Type=oneshot
RemainAfterExit=true
Environment="CORE24_PLUS_INITRAMFS=1"
ExecStart=/usr/lib/snapd/snap-bootstrap initramfs-mounts
StandardOutput=journal+console
StandardError=journal+console
