[Unit]
Description=Mount initial filesystems
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

DefaultDependencies=no
After=sysinit.target
Before=initrd-root-device.target

Wants=dbus.socket
After=dbus.socket

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/lib/snapd/snap-bootstrap initramfs-mounts
StandardOutput=journal+console
StandardError=journal+console
