# This file is overridden by the one created by snap-bootstrap in
# /run/systemd/system/ since UC24, but we still need this static configuration
# to set the unit dependencies, as even after using 'systemctl daemon-reload'
# the dependencies of units that are queued to be activated are not changed.
# Without this file, sysroot was mounted too late.
#
# See https://github.com/systemd/systemd/issues/23034 for details.
[Unit]
DefaultDependencies=no
Before=initrd-root-fs.target
After=snap-initramfs-mounts.service

[Mount]
What=/not/existing/path
Type=none
Options=bind
