[Unit]
DefaultDependencies=no
Before=initrd-root-fs.target

After=detect-uc-sysroot.service
Wants=detect-uc-sysroot.service
After=detect-classic-sysroot.service
Wants=detect-classic-sysroot.service
After=run-mnt-base.mount
After=snap-initramfs-mounts.service

AssertPathIsSymbolicLink=/run/mnt/sysroot

[Mount]
# /run/mnt/sysroot is a symlink to either /run/mnt/base or
# /run/mnt/data. This symlink is created by
# detect-{uc,classic}-sysroot.service depending on whether
# /run/mnt/base has been mounted by snap-initramfs-mounts.service
What=/run/mnt/sysroot
Type=none
Options=bind
