#!/usr/bin/make -f
# -*- makefile -*-
#
# These rules should work for any debian-ish distro that uses systemd
# as init.  That does _not_ include Ubuntu 14.04 ("trusty"); look for
# its own special rule file.
#
# Please keep the diff between that and this relatively small, even if
# it means having suboptimal code; these need to be kept in sync by
# sentient bags of meat.

SUBSTVARS=-Vdbussession:Depends="default-dbus-session-bus | dbus-session-bus"
DH_SYSTEMD_START_OPTS=--restart-after-upgrade

MESON_OPTIONS=								\
--auto-features=enabled							\
	-Dselinux=disabled						\
	-Dsecboot=true							\
	-Dcore=true							\
	-Dstatic-checks=false						\
	-Dvendored=enabled						\
	-Ddownstream_version_suffix=$(downstream_version_suffix)	\
	-Dnvidia-multiarch=true						\
	-Dlibexecdir=lib/snapd						\
	-Dhost-arch-triplet=$(DEB_HOST_MULTIARCH)

ifneq (,$(filter testkeys,$(DEB_BUILD_OPTIONS)))
MESON_OPTIONS+= -Dtest-keys=true
endif

ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH_BITS),64)
MESON_OPTIONS+= -Db_pie=true
endif

ifeq ($(shell dpkg-architecture -qDEB_HOST_ARCH),amd64)
MESON_OPTIONS+= -Dhost-arch-32bit-triplet=$(shell dpkg-architecture --force -ai386 -qDEB_HOST_MULTIARCH)
endif

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	dh $@ --buildsystem=meson+ninja --builddirectory=_build

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_configure:
	dh_auto_configure -O--buildsystem=meson+ninja --builddirectory=_build -- $(MESON_OPTIONS)
	# This is only needed for the auto install
	dh_auto_configure -O--buildsystem=golang --builddirectory=_build

override_dh_auto_build:
	dh_auto_build -O--buildsystem=meson+ninja --builddirectory=_build

	# build squashfuse and rename to snapfuse
	(cd c-vendor/squashfuse && mkdir -p autom4te.cache && ./autogen.sh --disable-demo && ./configure --disable-demo && make && mv squashfuse_ll snapfuse)

SYSTEMD_UNITS_DESTDIR:=$(or $(shell pkg-config --variable=systemdsystemunitdir systemd),$(error pkg-config did not return systemdsystemunitdir))

# The .real profile is a workaround for a bug in dpkg LP: #1673247 that causes
# ubiquity to crash. It allows us to "move" the snap-confine profile from
# snap-confine into snapd in a way that works with old dpkg that is in the live
# CD image.
#
# Because both the usual and the .real profile describe the same binary the
# .real profile takes priority (as it is loaded later).
#
override_dh_installsystemd:
	# We need run dh_apparmor *before* dh_installsystemd to ensure the postinst
	# snippets are added in the right order (first the new apparmor profile
	# is loaded, then we restart the service).
	dh_apparmor --profile-name=usr.lib.snapd.snap-confine.real -psnapd

	# Due to https://github.com/systemd/systemd/issues/8102 
	# debhelper supporting --remaining like behaviour here would
	# have been useful
	# Enable snapd.apparmor first so that it is enabled before snapd.service
	# is started; snapd checks whether snapd.apparmor is enabled at startup
	# and emits a warning if it is not.
	dh_installsystemd -psnapd --no-start snapd.apparmor.service
	# (Re-)start socket first
	dh_installsystemd -psnapd $(DH_SYSTEMD_START_OPTS) snapd.socket
	# Then service
	dh_installsystemd -psnapd $(DH_SYSTEMD_START_OPTS) snapd.service
	# Then the rest
	dh_installsystemd -psnapd $(DH_SYSTEMD_START_OPTS) \
	$(filter-out snapd.socket snapd.service snapd.mounts-pre.target, \
	$(notdir $(wildcard debian/snapd$(SYSTEMD_UNITS_DESTDIR)/*)))
	# Handle user units (e.g. snapd.session-agent.socket). This must be
	# called explicitly because override_dh_installsystemd suppresses the
	# automatic dh_installsystemduser invocation. The deb-systemd-helper
	# state files are cleared in the spread test suite prepare to ensure
	# idempotent behaviour across VM reuse.
	dh_installsystemduser -psnapd

override_dh_clean:
	dh_clean
	(cd c-vendor/squashfuse && rm -f snapfuse && make distclean || true )

debian/snapd.install: SYSTEMD_LIBDIR=$(shell pkg-config --variable=systemdutildir systemd)
debian/snapd.install: debian/snapd.install.in
	sed 's,@systemd-lib@,$(SYSTEMD_LIBDIR),g' $< >$@.tmp
	mv $@.tmp $@

override_dh_auto_install: debian/snapd.install
	dh_auto_install -O--buildsystem=meson+ninja --builddirectory=_build
	mv debian/tmp/etc/apparmor.d/usr.lib.snapd.snap-confine debian/tmp/etc/apparmor.d/usr.lib.snapd.snap-confine.real
	mv debian/tmp/usr/share/zsh/site-functions debian/tmp/usr/share/zsh/vendor-completions
	# Install the source
	dh_auto_install -O--buildsystem=golang --builddirectory=_build

override_dh_auto_clean:
	dh_auto_clean -O--buildsystem=meson+ninja --builddirectory=_build
	dh_auto_clean -O--buildsystem=golang --builddirectory=_build

override_dh_dwz:
	dh_dwz -a				\
	  -X usr/lib/snapd/snap-seccomp		\
	  -X usr/lib/snapd/snap-update-ns	\
	  -X usr/lib/snapd/snapd		\
	  -X usr/lib/snapd/snapctl		\
	  -X usr/lib/snapd/snap-bootstrap	\
	  -X usr/lib/snapd/snap-failure		\
	  -X usr/lib/snapd/snap-repair		\
	  -X usr/lib/snapd/snap-bootstrap	\
	  -X usr/lib/snapd/snap-failure		\
	  -X usr/lib/snapd/snap-repair
