Tests: integrationtests
Restrictions: allow-stderr, rw-build-tree, needs-root, breaks-testbed, isolation-machine
Depends: bzr,
         ca-certificates,
         git,
         golang-golang-x-net-dev,
         locales,
         net-tools,
         netcat-openbsd,
         openssh-server,
         snapd,
         @builddeps@
