[Unit]
DefaultDependencies=no
Before=initrd-root-fs.target

After=sysroot.mount
After=run-mnt-data.mount
After=run-mnt-base.mount
After=snap-initramfs-mounts.service

ConditionPathIsDirectory=/run/mnt/data/system-data

[Mount]
What=/run/mnt/data
Type=none
Options=bind
