Test-Command: snappy-latest.test -check.vv -test.outputdir=$ADT_ARTIFACTS
Restrictions: allow-stderr
Depends: ubuntu-snappy-tests

Test-Command: snappy-failover.test --check.vv -test.outputdir=$ADT_ARTIFACTS
Restrictions: allow-stderr
Depends: ubuntu-snappy-tests

Test-Command: snappy-update.test --check.vv -test.outputdir=$ADT_ARTIFACTS
Restrictions: allow-stderr
Depends: ubuntu-snappy-tests

Test-Command: ./_integration-tests/snappy-selftest --yes-really
Depends:
