Test-Command: debian/integration-tests/snappy-test snappy-latest.test
Restrictions: allow-stderr
Depends: ubuntu-snappy-tests

Test-Command: debian/integration-tests/snappy-test snappy-failover.test
Restrictions: allow-stderr
Depends: ubuntu-snappy-tests

Test-Command: debian/integration-tests/snappy-test snappy-update.test
Restrictions: allow-stderr
Depends: ubuntu-snappy-tests

Test-Command: ./_integration-tests/snappy-selftest --yes-really
Depends:
