# SPDX-FileCopyrightText: 2025 Canonical Ltd
# SPDX-License-Identifier: GPL-3.0-only

name: Build and Lint REST OpenAPI Documentation
on:
  pull_request:

jobs:
  check-api:
    runs-on: ubuntu-latest
    name: Check REST API documentation changes
    outputs:
      api_changed: ${{ steps.changed-api.outputs.any_changed }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Check if changes occurred in the API documentation
        id: changed-api
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: docs/api/**

  build-documentation:
    needs: check-api
    if: needs.check-api.outputs.api_changed == 'true'
    runs-on: ubuntu-latest
    name: Build REST API documentation
    steps:
      - name: Check Licensing/Copyright Compliance
        uses: docker://fsfe/reuse
        with:
          entrypoint: /bin/sh
          args: -c "cd docs/api && reuse lint"
      - name: Check API specification
        uses: docker://redocly/cli
        with:
          args: lint ./docs/api/openapi.yaml
      - name: Build generated documentation
        uses: docker://redocly/cli
        with:
          args: build-docs ./docs/api/openapi.yaml --output ./docs/api/redoc-static.html
      - name: Create dark mode version
        run: |
          sudo chown $USER ./docs/api/redoc-static.html
          python3 ./docs/api/tools/post-process.py ./docs/api/redoc-static.html ./docs/api/tools/dark-theme.css "</head>"
      - name: Store generated artifact
        uses: actions/upload-artifact@v6
        with:
          name: rest-api-documentation
          path: |
            ./docs/api/redoc-static.html
