name: "Pull Request Labeler"
on:
  - pull_request_target

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/labeler@v5
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        sync-labels: "true"

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Apply draft label using gh CLI
      env:
        GH_TOKEN: ${{ github.token }}
      if: github.event.action == 'opened' && github.event.pull_request.draft == true
      run: gh pr edit ${{ github.event.pull_request.number }} --add-label 'Run only one system'
