name: Nightly spread executions

on:
  schedule:
    - cron: '0 2 * * *'
    - cron: '0 3 * * *'
    - cron: '0 6 * * *'

jobs:

  spread-nightly:
    if: github.event.schedule == '0 2 * * *'
    uses: ./.github/workflows/spread-tests.yaml
    with:
      runs-on: '["self-hosted", "spread-enabled"]'
      group: google
      backend: google
      systems: 'ALL'
      tasks: 'tests/nightly/...'
      rules: ''
      use-master-snap: true

  spread-test-build-from-current:
    if: github.event.schedule == '0 6 * * *'
    uses: ./.github/workflows/spread-tests.yaml
    with:
      runs-on: '["self-hosted", "spread-enabled"]'
      group: ${{ matrix.group }}
      backend: ${{ matrix.backend }}
      systems: ${{ matrix.systems }}
      tasks: 'tests/...'
      rules: ''
      use-master-snap: true
      spread-snapd-deb-from-repo: false
    strategy:
      fail-fast: false
      matrix:
        include:
          - group: google
            backend: google
            systems: 'ubuntu-18.04-64 ubuntu-20.04-64 ubuntu-22.04-64 ubuntu-24.04-64'
          - group: debian-not-req
            backend: google-distro-1
            systems: 'debian-11-64 debian-12-64 debian-sid-64'

  spread-test-experimental:
    if: github.event.schedule == '0 3 * * *'
    uses: ./.github/workflows/spread-tests.yaml
    with:
      runs-on: '["self-hosted", "spread-enabled"]'
      group: 'google'
      backend: 'google'
      systems: 'ubuntu-18.04-64 ubuntu-20.04-64 ubuntu-21.10-64 ubuntu-core-20-64'
      tasks: 'tests/...'
      rules: ''
      use-master-snap: true
      spread-experimental-features: gate-auto-refresh-hook

  spread-test-openstack:
    if: github.event.schedule == '0 3 * * *'
    uses: ./.github/workflows/spread-tests.yaml
    with:
      runs-on: '["self-hosted", "spread-enabled"]'
      group: 'openstack'
      backend: 'openstack'
      systems: 'ALL'
      tasks: 'tests/main/...'
      rules: ''
      use-master-snap: true