# probe for assertions, must run before udisks2
ACTION=="add", SUBSYSTEM=="block", KERNEL!="loop*", KERNEL!="ram*" \
    RUN+="/usr/bin/unshare -m /usr/bin/snap auto-import --mount=/dev/%k"
